body, html, #app, main {
    min-height: 100vh;
    width: 100%;
}

#app {
    background-color: var(--color-gray-100);
}

html.dark {
    color-scheme: dark;

    body, #app {
        background-color: var(--color-gray-900);
    }
}
